body{
    background-color:pink;
}

#score{
    font-size:25px;
    margin-left:60px;
    float:left;
}

#timer{
    font-size:25px;
    margin-right:60px;
    float:right;
}

#sketch_to_be_drawn{
    color:black;
}

p{
    font-size:30px;
}

#show_sketch{
    font-size:25px;
}

h1{
    background-color: deeppink;
}